# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ directory
.idea

# Ignore Strava json files
strava*.json

# Ignore mac files
.DS_Store